<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stesla.love.admin.mapper.AdminMapper">

    <resultMap id="AdminResult" type="Admin">
        <result column="AdminID" property="adminID"/>
        <result column="Username" property="username"/>
        <result column="Password" property="password"/>
        <result column="Email" property="email"/>
        <result column="FullName" property="fullName"/>
        <result column="RegistrationDate" property="registrationDate"/>
    </resultMap>

    <sql id="selectAdminVo">
        SELECT * FROM sys_admins
    </sql>

    <update id="update">
        UPDATE sys_admins
        <trim prefix="SET" suffixOverrides=",">
            <if test="password != null and password != ''"> Password = #{password},</if>
            <if test="email != null and email != ''">Email = #{email},</if>
            <if test="fullName != null and fullName != ''"> FullName = #{fullName},</if>
            UpdateDate = #{updateDate}
        </trim>
        <where>
            AdminID = #{adminID}
        </where>
    </update>

    <select id="selectAdminList" resultMap="AdminResult">
        <include refid="selectAdminVo"/>
        <where>
            <if test="username != null and username != ''"> and Username = #{username}</if>
            <if test="password != null and password != ''"> and Password = #{password}</if>
            <if test="email != null and email != ''"> and Email = #{email}</if>
            <if test="fullName != null and fullName != ''"> and FullName = #{fullName}</if>
            <if test="registrationDate != null"> and RegistrationDate = #{registrationDate}</if>
            <if test="UpdateDate != null"> and UpdateDate = #{date}</if>
        </where>
    </select>

    <select id="selectAdminByAdminID" resultMap="AdminResult">
        <include refid="selectAdminVo"/>
        WHERE AdminID = #{adminID}
    </select>

    <select id="findAdminByUsername" resultType="com.stesla.love.admin.domain.Admin" resultMap="AdminResult">
        SELECT * FROM sys_admins WHERE Username = #{username}
    </select>

    <insert id="registerByUsernameAndPassword">
        INSERT INTO sys_admins (Username, Password,RegistrationDate,UpdateDate) VALUES (#{username}, #{password}, #{date}, #{date})
    </insert>

</mapper>